<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YASMSS</title>
</head>
<body>
    <form action = "{{ url_for('index') }}" method = "POST">
        <p>
            {{ form.query.label }}<br>
            {{ form.query(rows='5', cols='100') }}
        </p>
        <p>{{ form.submit() }}</p>
        {{ form.csrf_token }}
     </form>
</body>
</html>